[submodule "nvim/.config/nvim/pack/bundle/start/ultisnips"]
	path = nvim/.config/nvim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-snippets"]
	path = nvim/.config/nvim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
